<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Create a Team and Heroes!</h1>
      <form action="/team" method="post">
        Team Name: <input type="text" id="team[name]" name="team[name]">
        Team Motto: <input type="text" id="team[motto]" name="team[motto]">
        <h2>Hero 1</h2>
        Hero's Name: <input type="text" id="member1_name" name="team[heroes][][name]"><br>
        Hero's Power: <input type="text" id="member1_power" name="team[heroes][][power]"><br>
        Hero's Bio: <input type="text" id="member1_bio" name="team[heroes][][bio]">
        <h2>Hero 2</h2>
        Hero's Name: <input type="text" id="member2_name" name="team[heroes][][name]"><br>
        Hero's Power: <input type="text" id="member2_power" name="team[heroes][][power]"><br>
        Hero's Bio: <input type="text" id="member2_bio" name="team[heroes][][bio]">
        <h2>Hero 3</h2>
        Hero's Name: <input type="text" id="member3_name" name="team[heroes][][name]"><br>
        Hero's Power: <input type="text" id="member3_power" name="team[heroes][][power]"><br>
        Hero's Bio: <input type="text" id="member3_bio" name="team[heroes][][bio]">
        <input type="submit" value="submit" name="submit">
      </form>
  </body>
</html>
